* {
  --primary: #c73659;
  --font-color: #eee;
  --background: #151515;

  --transition-time: 350ms;
  --timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

body {
  background-color: black;
  font-family: "Cascadia Code";
  color: var(--font-color);
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url(../imgs/header.jpg) ;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.navbar-brand img {
  height: 40px;
}

nav .centered {
  width: inherit;
}

.navbar {
  background-color: var(--background);
}

.navbar .container {
  display: flex;
}

a {
  color: var(--font-color) !important;
  text-decoration: none;
}

.navbar li a {
  position: relative;
}
.navbar li a {
  margin-left: 20px;
}
.navbar li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background: var(--primary);
  position: absolute;
  left: 0;
  bottom: -4px;
  transition: var(--transition-time);
  transition-timing-function: var(--timing-function);
}

.navbar li a:hover::after {
  width: 100%;
}

.centered ul {
  display: flex;
  justify-content: space-around;
  margin-left: 40px;
}

.navbar-toggler {
  color: var(--font-color);
}

@media (max-width: 767.98px) {
  .navbar li a:hover::after {
    width: 60px;
  }
}

/* -------Hero ------ */
.header-text {
  margin-top: 20%;
  font-size: 30px;
  margin-left: 5%;
}
.header-text h1 {
  font-size: 60px;
}

.header-text h1 span {
  color: var(--primary);
}

@media (max-width: 991.98px) {
  .header-text {
    margin-top: 20%;
    font-size: 20px;
    margin-left: 5%;
  }
  .header-text h1 {
    font-size: 40px;
  }
}
@media (max-width: 767.98px) {
  .header-text {
    margin-top: 20%;
    font-size: 20px;
    margin-left: 0;
  }
  .header-text h1 {
    font-size: 40px;
  }
}

/* ----------- About ----------- */

.row {
  --bs-gutter-x: 0rem;
}

.about-col-2 {
  padding: 20px;
}
.about-col-1 img {
  width: 100%;
  margin: 0;
  border-radius: 15px;
}

h2 {
  font-size: 60px;
  font-weight: 600;
  color: var(--font-color);
  margin: 30px 0;
}

.about-me-tabs {
  display: flex;
  flex-wrap: wrap;
}

.about-me-tabs .tab-link {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-link:after {
  width: 0%;
  content: "";
  position: absolute;
  background: var(--primary);
  height: 3px;
  left: 0;
  bottom: -8px;
  transition: var(--transition-time);
  transition-timing-function: var(--timing-function);
}

.tab-link.active:after {
  width: 80%;
}
.tap-content {
  display: none;
  position: relative;
  overflow: hidden;
  transition: opacity var(--transition-time) 1ms;
}

@keyframes tap-content {
  0% {
    opacity: 0%;
    right: 100px;
  }
  100% {
    opacity: 100%;
    right: 0px;
  }
}

.tap-content.active {
  display: block;
  animation-name: tap-content;
  animation-timing-function: var(--timing-function);
  animation-duration: var(--transition-time);
}

.tap-content ul {
  margin-top: 30px;
  list-style: none;
}
.tap-content ul li span.skill-title {
  color: var(--primary);
}

.tap-content ul li span.skill-description {
  display: inline-block;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 50px;
}

@media (max-width: 477.98px) {
  .about-me-tabs .tab-link {
    margin-bottom: 20px;
  }
}

/* ---------- services ------------ */

.service-card img {
  width: 20%;
  color: var(--font-color);
  margin-left: auto;
  margin-bottom: 20px;
}

.service-card h3 {
  margin-bottom: 20px;
}

.service-card p {
  margin-bottom: 40px;
}

.service-card a {
  color: var(--font-color);
  text-decoration: none;
  display: block;
  position: absolute;
  bottom: 20px;
  left: 35%;
}

.services-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  /* margin: 0 50px; */
  margin-top: 50px;
}

.service-card {
  position: relative;
  text-align: center;
  width: 100%;
  border-radius: 15px;
  margin: auto;
  background-color: var(--background);
  padding: 20px;
  height: 100%;
  transition: background-color 0.35s, scale 0.35s;
  transition-timing-function: var(--timing-function);
}

.service-card:hover {
  background-color: var(--primary);
  scale: 1.1;
}

.work-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  /* margin: 0 50px; */
  margin-top: 50px;
}

.work-item {
  overflow: hidden;
  border-radius: 15px;
  position: relative;
}

.work-item img {
  width: 100%;
  transition: scale var(--transition-time), filter var(--transition-time);
  filter: blur(0px);
  animation-timing-function: var(--timing-function);
}

.work-cover {
  overflow: hidden;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(rgb(0, 0, 0, 0.5), var(--primary));
  animation-timing-function: var(--timing-function);
  z-index: 1;
  transition: height var(--transition-time);
  height: 0;
}

.work-item:hover .work-cover {
  transform: visibility 0 var(--transition-time);
  height: 100%;
}

.work-item:hover > img {
  scale: 1.05;
  filter: blur(20px);
}

.work-cover h3 {
  margin-top: 100px;
  margin-bottom: 20px;
}

.work-cover p {
  margin: 20px;
  margin-bottom: 80px;
}

.work-cover a {
  display: block;
  background-color: var(--font-color);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: auto;
}

.work-cover a img {
  margin: 15%;
  width: 60%;
}

@media (max-width: 767.98px) {
  .work-cover h3 {
    margin-top: 250px;
    margin-bottom: 20px;
  }
}

/* ---------- Contact Me ---------- */
.location-map-container {
  overflow: hidden;
  height: 300px;
}

.location-map {
  width: 100%;
  height: inherit;
}

.link-tooltip {
  overflow: hidden;
  z-index: 1;
  position: absolute;
  left: 0;
  top: -30px;
  background-color: var(--primary);
  border-radius: 15px;
  width: 0px;
  text-align: center;
  transition: width var(--transition-time);
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.icon.phone:hover .link-tooltip.phone {
  width: 90px;
}
.icon.whatsapp:hover .link-tooltip.whatsapp {
  width: 90px;
}
.icon.email:hover .link-tooltip.email {
  width: 90px;
}
.icon.linkedin:hover .link-tooltip.linkedin {
  width: 90px;
}
.icon.github:hover .link-tooltip.github {
  width: 90px;
}

.contact-links .wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#contact h3 {
  font-size: 20px;
}
.contact-section {
  margin-top: 50px;
}
#contact > div {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 2fr;
}

a.icon {
  display: block;
  background-color: var(--font-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  margin-top: 30px;
  box-shadow: 0px 0px 0px var(--primary);
  transition: box-shadow var(--transition-time);
  transition-timing-function: var(--timing-function);
}

a.icon:hover {
  box-shadow: 2px 2px 5px var(--primary);
}

.contact-links img {
  width: 20px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

@media (max-width: 768px) {
  #contact > div {
    grid-template-columns: 1fr;
    gap: 50px;
  }
}
/* ------------- footer ------------  */
footer {
  background-color: var(--background);
  margin-top: 50px;
}

footer div {
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.download-cv {
  display: inline-block;
  margin-top: 20px;
  border-radius: 8px;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;

  text-align: center;
  border: 1px solid var(--primary);
  transition: var(--transition-time);
}

.download-cv:hover {
  background-color: var(--primary);
}

.download-cv:active {
  background-color: #c6556f;
  scale: 0.95;
}
