body {
  background-color: #000;
  font-family: "Cascadia Code";
  color: #eee;
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url(../imgs/header.jpg);
  background-size: cover;
  background-position: center;
}

.navbar-brand img {
  height: 40px;
}

nav .centered {
  width: inherit;
}

.navbar {
  background-color: #151515;
}

.navbar .container {
  display: flex;
}

.navbar a {
  color: #eeeeee !important;
}

.navbar li a {
  position: relative;
}
.navbar li a {
  margin-left: 20px;
}
.navbar li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #c73659;
  position: absolute;
  left: 0;
  bottom: -4px;
  transition: 300ms;
  transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.navbar li a:hover::after {
  width: 100%;
}

.centered ul {
  display: flex;
  justify-content: space-around;
  margin-left: 40px;
}

.navbar-toggler {
  color: #eee;
}

.header-text {
  margin-top: 20%;
  font-size: 30px;
  margin-left: 5%;
}
.header-text h1 {
  font-size: 60px;
}

.header-text h1 span {
  color: #c73659;
}
/* ----------- About ----------- */

.row {
  --bs-gutter-x: 0rem;
}

.about-col-2 {
  padding: 20px;
}
.about-col-1 img {
  width: 100%;
  margin: 0;
  border-radius: 15px;
}

.about-me h2 {
  font-size: 60px;
  font-weight: 600;
  color: #eee;
}

.about-me-tabs {
  display: flex;
  flex-wrap: wrap;
}

.about-me-tabs .tab-link {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-link:after {
  width: 0%;
  content: "";
  position: absolute;
  background: #c73659;
  height: 3px;
  left: 0;
  bottom: -8px;
  transition: 350ms;
  transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.tab-link.active:after {
  width: 80%;
}
.tap-content {
  display: none;
  position: relative;
  overflow: hidden;
  transition: opacity 350ms 1ms;
}

@keyframes tap-content {
  0% {
    opacity: 0%;
    right: 100px;
  }
  100% {
    opacity: 100%;
    right: 0px;
  }
}

.tap-content.active {
  display: block;
  animation-name: tap-content;
  animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  animation-duration: 350ms;
}

.tap-content ul {
  margin-top: 30px;
  list-style: none;
}
.tap-content ul li span.skill-title {
  color: #c73659;
}

.tap-content ul li span.skill-description {
  display: inline-block;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 50px;
}
/* ---------- services ------------ */
#services img {
  width: 20%;
  color: #eee;
  margin-left: auto;
}

.services-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  margin: 0 50px;
  margin-top: 50px;
}

.service-card {
  width: 80%;
  margin: auto;
  background-color: #151515;
  padding: 10px;
}
